openai==1.38.0
regex
pandas
graphrag
requests
neo4j
tiktoken
pydantic
docarray
langchain_core
langchain
langchain_huggingface
langchain_community
faiss-cpu
langchain_openai
flashrank
attackcti
unstructured
markdown
jinja2
pyarrow
nest_asyncio
llama-agents
llama-index-agent-openai
llama-index-embeddings-openai
crewai
pyautogen